<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <link rel="stylesheet" href="/css/style.css">

    
</head>
<body>
    <div class="fundo">
        <h1 style="padding: 30px;">Calculadora em NodeJS</h1>
        <div class="cal">
            
            <form action="" method="POST">
                <input type="number" name="num1" class="input">
                <input type="number" name="num2" class="input">
                <button class="botao">Somar</button>
            </form>                
        </div>
    </div>
    <p class="reserva">Copyright 2023 Hudson Costa ©  Todos Direitos Reservados</p>
</body>
</html>
